body {
    background-color: black;
    color:white;
}
p {
    font-size: 10px !important;
}
.jumbotron {
    background-color:black;
}
.b1 {
    border-bottom-color: white;
    border-bottom-width: thick;
    border-bottom-style: solid;
}
.b2 {
    border-color: white;
    border-width: thick;
    border-style: solid;
}
.btn-default {
    background-color:black;
    color:white;
    border-color: white;
    border-width: thin;
    border-style: solid;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color:white !important;
    color:black !important;
    border-color: white !important;
    border-width: thin !important;
    border-style: solid !important;
    outline: 0px !important;
}

:-webkit-full-screen {
    display: block !important;
    width: 100%;
    height: 100%;
}
:-moz-full-screen {
    display: block !important;
    width: 100%;
    height: 100%;
}
:full-screen {
    display: block !important;
    width: 100%;
    height: 100%;
}
#bsod {
    font-family: 'Comic Sans MS', 'Lucida Console', monospace;
    width: 100%;
    padding-top: 20px;
    height: 100%;
    background: #010080;
    color: white;
    cursor: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#bsod p {
    font-size: 26px !important;
    margin: 20px 0 0;
}
